.card {
    overflow: hidden;
    border-radius: 1.5rem 1.5rem 2.5rem 2.5rem;
    @extend .z3, .elevation-transition;
    &:hover {
        @extend .z5;
    }
    &.column {
        padding: 0;
    }
    &.wine-club {
        .card-image {
            overflow: hidden;
            object-fit: cover;
            img {
                object-fit: cover;
            }
            .tag {
                position: absolute;
                top: 1rem;
                right: 1rem;
                z-index: 1;
                background-color: rgba($text, 0.75);
                color: $white;
            }
            &:before {
                content:"";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                // background: linear-gradient(18deg, 
                //                             rgba(240,164,137,1) 0%,
                //                             rgba(255,255,255,0.2763480392156863) 75%, 
                //                             rgba(157, 217, 210, 0.43) 100%
                //                             );
                background: linear-gradient(18deg, 
                                            rgba(240,164,137,1) 15%,
                                            rgba(255,255,255,0.2763480392156863) 75%, 
                                            rgba(157, 217, 210, 0.43) 100%
                                            );
                
            }
            .title {
                font-family: $sans-serif;
                text-transform: capitalize;
                color: $white;
                font-size: 1.75rem;
                z-index: 2;
                position: absolute;
                bottom: 0;
                padding: 1rem;
                color: white;
                
            }
        }
        .card-content {
            position: relative;
            padding: 1rem;
            .content {
                padding-bottom: 1rem;
            }
        }
        .card-footer {
            padding: 0 0.5rem 0;
            justify-content: space-between;
            .featured-title {
                background-color: $white;
                font-family: $navigation;
                width: auto;
                position: absolute;
                font-size: 0.75rem;
                text-transform: uppercase;
                left: 50%;
                transform: translate(-50%, -50%);
                letter-spacing: 7px;
                white-space: nowrap;
                padding: 0px 10px 0 15px;
                text-align: center;
                color: rgba($text, 0.35);
            }
            .image,
            .button {
                display: inline-block;
                width: 45px;
                height: 45px;
                margin: 1.5rem 0.5rem 0.5rem;   
            }
            .button {
                display: flex;
                align-items: center;
                width: auto;
                @extend .z3, .elevation-transition;
                &:hover {
                    @extend .z5;
                }
            }
        }
    }
}

// .container {
//     .card {
//         border-radius: $radius*4;
//         overflow: hidden;
//         display: flex;
//         align-items: flex-end;
//         // @extend .z2;
//         @extend .elevation-transition;

//         &:before {
//             content:'';
//             padding-bottom: 100%;
//         }
//         .tag {
//             position: absolute;
//             top: 1rem;
//             right: 1rem;
//             opacity: 0.7;
//             z-index: 2;
//         }
        
//         .card-bg {
//             background-size: cover;
//             background-position: center;
//             position: absolute;
//             width: 100%;
//             height: 100%;
//             transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
//         }
//         &:hover {
//             @extend .z5;
//             .card-bg {
//                 transform: scale(1.1);
//             }
//         }
//         .card-content {
//             position: relative;
//             z-index: 1;
//         }
//         .title {
//             font-family: $sans-serif;
//             text-transform: capitalize;
//             color: $white;
//             font-size: 2rem;
//             margin-bottom: 0.75rem;
//         }
//         .meta {
//             margin-bottom: 1rem;
//             opacity: 0.75;
//         }
//         &.wine-club {
//             &:after {
//                 content:"";
//                 position: absolute;
//                 width: 100%;
//                 height: 100%;
//                 top: 0;
//                 left: 0;
//                 z-index: 0;
//                 background: linear-gradient(transparent 20%, $primary 70%);
//             }
//         }
//         &.interview {
//             .title {
//                 font-size: 2rem;
//             }
//             &:after {
//                 content:"";
//                 position: absolute;
//                 width: 100%;
//                 height: 100%;
//                 top: 0;
//                 left: 0;
//                 z-index: 0;
//                 background-color: rgba($primary,0.8);
//                 // background: linear-gradient(transparent 20%, rgba($cta, 0.66) 40%, $cta 70%);
//             }
//         }
//         &.featured-bottle {
//             .title {
//                 font-family: $sans-serif;
//                 font-size: 2rem;
//             }
//             &:after {
//                 content:"";
//                 position: absolute;
//                 width: 100%;
//                 height: 100%;
//                 top: 0;
//                 left: 0;
//                 z-index: 0;
//                 background-color: rgba($cta,0.8);
//                 // background: linear-gradient(transparent 20%, rgba($cta, 0.66) 40%, $cta 70%);
//             }
//         }
//     }
// }