.container {
    .card {
        border-radius: $radius*4;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        // @extend .z2;
        @extend .elevation-transition;

        &:before {
            content:'';
            padding-bottom: 100%;
        }
        .tag {
            position: absolute;
            top: 1rem;
            right: 1rem;
            z-index: 2;
        }
        
        .card-bg {
            background-size: cover;
            background-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
            transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
            // transition-property: transform;
        }
        &:hover {
            @extend .z5;
            .card-bg {
                transform: scale(1.1);
            }
        }
        .card-content {
            position: relative;
            z-index: 1;
        }
        &:after {
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            background: linear-gradient(200deg, rgba($white,0.66) 20%, rgba($primary,0.66) 40%, $primary 70%);
        }
        .title {
            text-transform: capitalize;
            color: $white;
            margin-bottom: 1rem;
        }
        .meta {
            margin-bottom: 1rem;
            opacity: 0.75;
        }
        &.featured-bottle {
            &:after {
                background: linear-gradient(200deg, rgba($white, 0.66) 0%, $cta 70%, $cta 100%);
            }
        }
    }
    .columns {
        margin: -1rem;
    }
}