.section.contact {
    p {
        margin: 1rem 0;
    }
    form {
        label {
            font-weight: bold;
        }

    }
    .button {
        margin-top: 1rem;
    }
    .flourish-divider {
        margin-top: 5rem;
    }
}