.home {
  section:not(.info-bar, .masthead) {
    position: relative;
    min-height: 90vh;
    .container {
      > .title {
        text-align: center;
        font-size: 5rem;
        margin: 3rem 0;
        @include touch {
          font-size: 4rem;
        }
      }
      > .content {
        display: none;
      }
    }
  }
  .wine-club {
    .card {
      &:before {
        content:"";
        padding-bottom: 100%;
      }
    }
    .column:last-of-type {
      margin-bottom: 5rem;
    }
  }
  h2.testimonial-title {
    font-size: 5rem;
    margin-top: 7rem;
    margin-bottom: 4rem !important;
    @include touch {
      font-size: 4rem;
    }
}
.testimonials {
  margin-bottom: 7rem;
    .splide {
        margin: 2rem 0;
        .splide__arrow {
            fill: rgba($white, 0.666);
        }
    }
    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;        
        cursor: grab;
        span {
            display: block;
        }
        .testimonial {
            font-size: 1.5rem;
            width: 90%;
            margin: 0 auto;
        }
        .person {
            margin-top: 1rem;
            .name {
                font-weight: bold;
                font-size: 1.5rem;
            }
            .organization {
                font-size: 1.25rem;
            }
        }
    }
  }
}

.masthead {
  min-height: 70vh;
  @include mobile {
    padding: 6rem 0 3rem;
  }

  .hero-body {
    @include desktop {
      min-height: 55rem;
    }
    .columns {
      justify-content: space-between;
      .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .text {
      .title {
        font-size: 6rem;
        line-height: 0.9;
        word-spacing: 100em;
        word-break: inherit;
        font-family: $serif;
        text-transform: capitalize;
        @include mobile {
          font-size: 4rem;
          text-align: center;
        }
        @include tablet {
          text-align: left;
        }
      }
      p {
        display: inline-block;
        margin-bottom: 1.5rem;
      }
    }
    .image {
      position: relative;
      &.is-hidden-desktop {
        max-width: 300px;
        margin: 1rem auto;
      }
      img {
        border: 1rem solid transparent;
      }
      svg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}

.how-we-work {
  display: flex;
  align-items: center;
  .columns {
    @include touch {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    h3 {
      color: $text;
      font-size: 3rem;
      font-family: $sans-serif;
      @include touch {
        font-size: 2rem;
      }
    }
    p {
      max-width: 300px;
      margin: 0 auto;
    }
    .icon {
      opacity: 0.66;
      margin: 1rem;
    }
  }
}

