.people {
    .column {
        .image {
            overflow: hidden;
            border-radius: 100em;
            transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
            img {
                transition: 0.3s ease-in-out;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
        .title {
            margin: 1.5rem 0;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
    }
}

.page-template-template-people {
    .modal-content {
        max-width: 30rem;
        .card {
            display: block;
            &:after {
                display: none;
            }
            .media-content {
                .subtitle {
                    margin-top: 1rem;
                }
            }
        }
    }
}