.directory {
    display: flex;
    align-items: center;
    #searchForm {
        max-width: 666px;
        margin: 0 auto;
    }
}

.search-results {
    .results {
        > p {
            margin: 2rem auto;
            font-size: 1.5rem;
            opacity: 0.33;
        }
    }
    .flourish-divider {
        margin: 3rem 0;
    }
}

.search {
    h3 {
        color: $text;
        font-family: $sans-serif;
    }
    a {
        &:hover {
            text-decoration: none;
        }
        &:visited {
            color: $text;
        }
    }
    .not-featured {
        .column {
            padding-bottom: 2rem;
        }
        header {
            h3 {
                font-weight: bold;
            }
        }
        .subtitle {
            margin-bottom: 0.5rem;
        }
    }
}

ul.address {
    list-style: none;
    margin: 0;
    position: relative;
    span.icon {
        opacity: 0.33;
    }
    li {
        margin-left: 1.75rem;
        span.icon {
            position: absolute;
            left: 0;
        }
        span:not(.icon, :first-of-type) {
            display: inline;
            &:after {
                content: ', ';
            }
            &:last-of-type {
    
                &:after {
                    content: '';
                }
            }
        }
    }
}

.searchwp-live-search-results {
    margin-top: 0.5rem;
    border-radius: 1rem !important;
    .spinner {
        display: none !important;
    }
    .searchwp-revised-search-notice {
        padding: 1rem 1rem 0;
        opacity: 0.33;
    }
}

#subscribeWall.modal {
    p {
        display: block;
        margin: 1rem auto 1.5rem;
    }
    a {
        text-decoration: underline;
    }
    #mce-modal-responses {
        color: $white;
        text-align: center;
    }
    .opt-out {
        position: relative;
        display: block;
        margin: 1.5rem auto 0;
        width: 140px;
        .icon {
          position: absolute;
          right:0;
        }
    }
}