h2.testimonial-title {
    font-size: 5rem;
    margin-bottom: 4rem !important;
}
.testimonials {
    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;        
        cursor: grab;
        span {
            display: block;
        }
        .testimonial {
            font-size: 2rem;
            width: 90%;
            margin: 0 auto;
        }
        .person {
            margin-top: 1rem;
            .name {
                font-weight: bold;
                font-size: 1.25rem;
            }
            .organization {
                font-size: 1.25rem;
            }
        }
    }
}