section.winery {
        .column {
            padding: 0 0 0 1rem;
            .logo img {
                width: 190px;
                height: 190px;
            }
        }
        h1.title {
            margin: 0;
        }
        h3.title {
            opacity: 1 !important;
            color: rgba($text, 0.33);
            position: relative;
            display: inline-block;
        }
        span.verified {
            position: relative;
            top: 5px;
            left: 8px;
            p.has-text-info {
                position: absolute;
                right: 0;
                transform: translate(100%, 3px);
            }
        }
        .address {
            font-size: 1.25rem;
            margin-bottom: 1.5rem;
        }
        .website,
        .phone {
            span.icon {
                margin-right: 0 !important;
            }
        }
        .socials {
            margin: 1rem 0;
            .social {
                padding: 0.666rem;
            }
        }
    .featured {
        position: relative;
        .splide__slide {
            &:hover {
                cursor: grab;
            }
            &:focus {
                cursor: grabbing;
            }
        }
        > span {
            background-color: transparent;
            border-top: 1px solid #ededed;
            align-items: stretch;
            display: flex;
            position: relative;
            margin: 3rem 0 2rem;
            h3 {
                text-align: center;
                font-family: $sans-serif;
                background-color: #f7f5f5;
                font-family: "Montserrat";
                width: auto;
                position: absolute;
                font-size: 0.75rem;
                text-transform: uppercase;
                left: 50%;
                transform: translate(-50%, -50%);
                letter-spacing: 7px;
                white-space: nowrap;
                padding: 0px 10px 0 15px;
                text-align: center;
                color: rgba(81,81,81,0.35);
            }
        }
        .meta {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            h3.vintage {
                font-weight: light;
                opacity: 0.4;
                font-size: 80%;
            }
            h3 {
                font-weight: bold;
            }
            h3.varietal {
                opacity: 0.5;
            }
        }
        .columns {
            h3,h4 {
                text-align: left;
                font-family: $sans-serif;
                margin: 0;
            }
        }

    }
}